body {
    max-width: 720px;
    margin: 0 auto;
    padding: 16px;
    overflow-y: scroll;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

ul {
    padding-left: 1.5em;
}

section {
    content-visibility: auto;
    contain-intrinsic-size: 500px;
}
